* *:before *:after {
    box-sizing: border-box;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* layout */
.page-container {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main-container {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto 1fr auto;
    flex: 1 0 auto;
    overflow-y: auto;
    margin: 0 5px;
}
.header {
    grid-row: 1/2;
    margin: 5px 5px 0 5px;
}
.footer {
    grid-row: 3/4;
    margin: 0 5px 5px 5px;
}
.nav-bar {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(5,1fr)
}
.link-bar {
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    bottom: 0;

}
.main {
    grid-row: 2/3;
    position: relative;
}

/* general */
a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

body {
    background: url(pics/Freckles.jpg)
}


/* header */
.header {
    text-align: center;
    background:#e17d17;
    flex: 0;
}
.header h1 {
    font-size: 3em;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    background:#e17d17;
}

/* navbar */
.nav-bar {
    background: #fbdba0;
    margin: 5px 0;       
}
.nav-bar a {
    font-size: small;
    padding: 2px;
    flex: 0;
}
.nav-bar a:hover {
    background: #e1621d;
}
.nav-bar a:active {
    background: #e1621d;
}

/* link bar */
.link-bar {
    background: #fbdba0;
    margin: 5px 0;       
}
.link-bar a {
    font-size: small;
    padding: 2px;
}
.link-bar a:hover {
    background: #e1621d;
}
.link-bar a:active {
    background: #e1621d;
}
/* content */
.main {
    background: #ffecca;
    margin: 5px;
}
.welcome {
    text-align: center;
}
.main > * {
    margin: 5px;
}
/* Learn */
.learn h1 {
    text-align: center;
}
.return-top {
    display: block;
}
/* support */
.support > * {
    text-align: center;
}
/* shop */
.shop {
    height: 100%;
    padding: .5em 0;
}
.shop-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid #e1af93;
    border-bottom: none;
}
.shop-item:last-child {
    border-bottom: 2px solid #e1af93;
}
.shop-details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: small;
}
.shop-details > div {
    padding: 0 .5em;
}
.shop-details div {
    text-align: Left;
}
.shop img {
    max-width: 100%;
}
/* People */
.people {
    height: 100%;
    padding: .5em 0;
}
.people-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid #e1af93;
    border-bottom: none;
}
.people-item:last-child {
    border-bottom: 2px solid #e1af93;
}
.people-details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.people-details > div {
    padding: .5em .5em;
}
.people-details div {
    text-align: Left;
}
.people img {
    max-width: 100%;
}
/* tablet */

@media only screen and (min-width: 700px){
    .main-container {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
    }
    .main {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .nav-bar {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
    }
    .nav-bar a {
        font-size: large;
        min-width: 150px;
    }
    .link-bar {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .main > * {
        padding: 50px;
    }
    .shop-details {
        font-size: inherit;
    }

}

/* full size */

@media only screen and (min-width: 1100px){
    .main-container {
        grid-template-columns: auto 1fr auto;
    }
    .main {
        grid-column: 2/3;
        grid-row: 1/2
    }
    .nav-bar {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .link-bar {
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .link-bar a {
        font-size: large;
        min-width: 150px;
    }
}
