* *:before *:after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}

/* layout */
.page-container {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main-container {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto 1fr auto;
    flex: 1 0 auto;
    overflow-y: auto;
    margin: 0 5px;
}
.header {
    grid-row: 1/2;
    margin: 5px 5px 0 5px;
}
.footer {
    grid-row: 3/4;
    margin: 0 5px 5px 5px;
}
.nav-bar {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(5,1fr)
}
.link-bar {
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    bottom: 0;

}
.main {
    grid-row: 2/3;
}

/* general */
a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

body {
    background: url(pics/Freckles.jpg)
}

/* header */
.header {
    text-align: center;
    background:#e17d17;
    flex: 0;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    background:#e17d17;
    bottom: 0;
}

/* navbar */
.nav-bar a {
    font-size: small;
    padding: 1px;
    flex: 0;
}
.nav-bar a:hover {
    background: #e1621d;
}
.nav-bar a:active {
    background: #e1621d;
}

/* link bar */
.link-bar a {
    font-size: small;
    padding: 1px;
}
.link-bar a:hover {
    background: #e1621d;
}
.link-bar a:active {
    background: #e1621d;
}
/* content */
.main {
    background: #ffecca;
}

