.stock-details {
    background: #222727;
}

.detail-rating {
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
}

.profile-basic {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3 1fr);
}
.profile-basic > img {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 100%;
}

