*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
}
.app > * {
    border: 1px solid black;
}
.navbar {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.main {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}