*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.App {
}

.Header {
    position: relative;
    height:550px;
    background:url(https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg);
    background-size: cover;
    background-position: center;
}
.header-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #212529;
    opacity: .5;
}

.Footer { 
    border: 2px solid black;
}
.BlogList {
    background: white; 
}


.Navbar {
    border: 2px solid blue;
}
.BlogPost {
    border: 2px solid blue;
}

