.main-dark {
    background-color: #222;
    color: ivory;
}
.navbar-dark {
    background-color: #333;
    color: ivory;
}
.footer-dark {
    background-color: #333;
    color: ivory;
}
.navbar-dark > .link:hover {
    background-color: #222;
}

.footer-dark > .link:hover {
    background-color: #222;
}