body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div div{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 0;
    padding: 0;
    flex: 0;
    margin: 5px;
    /* border: 5px solid white; */
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    transition: all 1s linear;
    
}

.a {
    background-color: purple;
    transition: all 1s linear
}
.b {
    background-color: blue;
    transition: all 1s linear
}
.c {
    background-color: green;
    transition: all 1s linear
}
.d {
    background-color: yellow;
    transition: all 1s linear
}
.e {
    background-color: orange;
    transition: all 1s linear;
}
.f {
    background-color: red;
    transition: all 1s linear
}
.a:hover {
    background-color: hotpink;
}
.b:hover {
    height: 200px;
    background-color: #6660
}
.c:hover {
    height: 200px;
    width: 200px;
}
.d:hover {
    border-radius: 50%;
    transform: scale(2);
}
.e:hover {
    width: 200px;
    height: 50px;
}
.f:hover {
    transform: rotate3d(1,2,0,360deg)
}
/* .container:hover {
    max-height: 400px;
    max-width: 600px;
} */