.home {
    background: #111
}

.stock-group, .market-overview, .watch-list-group {
    max-width: 100%;
    background: #eee;
    margin: 2px;
    border-radius: 2px;  
}

.group-subtitle {
    text-align: center;
    padding: 2px;
}