.home {
    border: 2px solid blue;
    margin: 1px;
    background: paleturquoise;
}

.stock-group {
    border: 2px solid purple;
    margin: 1px;
}

.market-overview {
    border: 2px solid purple;
    margin: 1px;
}