.simple {
    display: grid;
    grid-template-columns: auto 1fr;
    background: #222727;
    border-radius: 5px;
    margin: 2px 0;
    text-align: left;
    transition: all .5s cubic-bezier(0, 0.5, 0.5, 0.75);
}
.simple:hover {
    transform: scale(1.02)
}
.simple .watch-myCheckbox {
    font-size: 22px;
    padding:0 0 0 5px;
}
.simple .watch-toggle {
    width: auto;
}
.simple-details {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px;
    grid-gap: 2px;
}
.simple-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
