*, *:before, *:after {
    box-sizing: border-box
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background: #222727;
    color: #222727;
}
a, a:visited, a:hover,  a:active {
    text-decoration: none;
    color: inherit;

}
/* colors */
/* Dark Gunmetal #222727 */
/* Outer Space #434D4D */
/* Quick Silver #97A6A6 */
/* vivid malachite #12C812 */
/* white smoke #EBF5F5 */
/* Lava #DC1212 */

/* fonts */
/* ubuntu, sans-serif */


.app {
    height: 100vh;
    min-width: 308px;
    display: grid; 
    grid-template-rows: auto 1fr auto;
}