*, *:before, *:after {
    box-sizing: border-box
}

html, body {
    margin: 0;
    padding: 0;
}
a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: initial;

}
/* colors */
/* Dark Gunmetal #222727 */
/* Outer Space #434D4D */
/* Quick Silver #97A6A6 */
/* vivid malachite #12C812 */
/* white smoke #EBF5F5 */
/* Lava #DC1212 */

.app {
    min-height: 100vh;
    min-width: 100vw;
    display: grid; 
    grid-template-rows: auto 1fr auto;
}