.footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    background: #222727;
    color: #97a6a6;
    font-size: .5em;
}
   

.footer-links {
    font-size: 16px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-links a {
    transition: all .5s ease;
    padding: 12px;
    font-size: 32px;
}

.footer-links a:hover, .footer-links a:active {
    color: #ebf5f5;
}